/* 19. Home Page 3 */
.home-page-3 {
	*::-moz-selection {
		background: $theme-color-3;
	}

	::-moz-selection {
		background: $theme-color-3;
	}

	::selection {
		background: $theme-color-3;
	}

	#scrollUp {
		background: $theme-color-3 !important;
	}

	.offset-widget {
		.widget-title {
			color: $theme-color-3;
		}
	}

	.social-widget {
		a {
			&:hover {
				background: $theme-color-3;
			}
		}
	}

	.search-area {
		.search-close {
			i {
				color: $theme-color-3;
			}
		}

		.search-form {
			form {
				button {
					background: $theme-color-3;
				}
			}
		}
	}

	.side-mobile-menu {
		ul {
			li {
				a {
					&:hover {
						color: $theme-color-3;
					}
				}

				a[aria-expanded="true"] {
					color: $theme-color-3;

					&:before {
						background: $theme-color-3;
						border-color: $theme-color-3;
					}
				}

				ul {
					li {
						&:hover {
							> a {
								color: $theme-color-3;

								&:before {
									background: $theme-color-3;
									border-color: $theme-color-3;
								}
							}
						}
					}
				}
			}
		}
	}


	.preloader span {
		background: $theme-color-3;
	}
}

.header-style-3 {
	@include mq(xs) {
		padding: 0;
	}

	.header-top {
		padding: 30px 0;
	}

	.main-menu {
		text-align: center;

		ul {
			li {
				margin-right: 15px;
				margin-left: 15px;
				@include mq(xl) {
					margin-right: 10px;
					margin-left: 10px;
				}

				> a {
					color: $theme-color-3;
				}

				a {
					color: #436372;
				}

				ul.sub-menu {
					border-top: 2px solid $theme-color-3;

					li {
						a {
							color: #436372;

							&:hover {
								color: $theme-color-3;
							}
						}
					}
				}
			}
		}
	}

	.header-search {
		display: inline-block;
		@include mq(xs) {
			display: none;
		}

		a {
			display: inline-block;
			width: 50px;
			color: #fff;
			background: #edf1f4;
			height: 50px;
			border-radius: 50%;
			text-align: center;
			line-height: 50px;

			&:hover {
				background: $theme-color-3;
			}
		}
	}

	.attr-menu-2 {
		display: inline-block;
		padding: 10px 20px;
		border-radius: 50px;
		background: $theme-color-3;
		margin-right: 18px;
		margin-left: 18px;
		@include mq(xl) {
			margin-right: 10px;
			margin-left: 10px;
		}
		@include mq(xs) {
			margin-left: 0;
		}
		@include cmq(320px, 425px) {
			display: none;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				padding-right: 10px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					right: 0;
					top: 50%;
					width: 2px;
					height: 32px;
					transform: translateY(-50%);
					background: _rgba(#fff, 0.4);
				}

				&:last-child {
					padding-right: 0;

					&:after {
						display: none;
					}
				}

				a {
					display: inline-block;
					color: #27414f;
					font-size: 15px;
					padding: 5px 10px;
					position: relative;

					span {
						position: absolute;
						right: 0;
						top: 0;
						width: 16px;
						height: 16px;
						background: #fff;
						color: #27414f;
						font-size: 10px;
						font-family: $DM;
						border-radius: 50%;
						text-align: center;
						@include transition(0.3s);
					}

					&:hover {
						color: #fff;

						span {
							color: $theme-color-3;
							background: #fff;
							transform: scale(1.5);
						}
					}
				}
			}
		}
	}

	.hamburger-menu {
		display: inline-block;

		a {
			display: inline-block;
			width: 50px;
			background: #a3bbc8;
			height: 50px;
			border-radius: 50%;
			text-align: center;
			line-height: 50px;

			svg {
				path {
					fill: #fff;
				}
			}

			@include mq(md) {
				svg {
					path {
						fill: #fff;
					}
				}
			}
			@include mq(xs) {
				svg {
					path {
						fill: #fff;
					}
				}
			}

			&:hover {
				background: $theme-color-3;
			}
		}
	}
}

.brand-area-3 {
	background: _rgba($theme-color-3, 0.2);
}
